* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER */
#cabecalho {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
}

#logo {
  max-width: 10%;
}

#nome-empresa {
  padding: 0px 15px 0px 15px;
  align-items: center;
  display: flex;
}

#barra-navegacao {
  display: flex;
  padding: 0px 15px 0px 15px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0px 7.5px 0px 7.5px;
}

header nav a:hover {
  color: grey;
}

/* MAIN */
#secao-principal {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
}

/* 
main {
  padding: 20px;
  overflow: auto;
} */

#paragrafos-imagem {
  display: block;
}

#paragrafos-imagem img {
  max-width: 50%;
  float: right;
  margin: 15px;
}

#titulo {
  font-size: x-large;
  margin: 15px;
}

#paragrafos {
  text-align: justify;
  font-size: large;
  margin: 15px;
}

#paragrafos p {
  margin-bottom: 15px;
}

/* FOOTER */
#rodape {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#rodape p {
  margin-bottom: 15px;
}

footer a {
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

footer a:hover {
  color: grey;
}

/* BOTAO */
#botao {
  position: fixed;
  display: none;
  z-index: 99;
  padding: 15px;
  bottom: 20px;
  right: 30px;
  outline: none;
  border: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18;
  transition: 0.7s;
  box-shadow: 5px 5px 15px 1px rgb(23, 164, 195);
}

#botao:hover {
  background-color: rgb(23, 164, 195);
}
